
.search-bar-wrapper {
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(249, 105, 14, 0.3);
    height: 100px;
    display: inline-flex;
    margin-bottom: 15px;
    border: 1px solid rgba(249, 105, 14, 0.5);
}


.search-input {
    width: 50%;
    height: 1.2rem;
}

.select-category {
    margin: auto 5px;
    height: 1.5rem;
}

.submit-search {
    height: 1.5rem;
    border: 1px solid #f9690e;
    background-color: #f9690e;
    color: white;
    font-weight: bold;
}