.general-info {
    display: flex;
    justify-content: space-around;
    margin: 15px auto 20px auto;
}

.step {
    margin: 40px auto;   
    text-align: left;
}

.step-headline {
    font-weight: bold;
}

.conclusion-parent {
    text-align: left;
    margin: auto auto 20px 40px;
}

.tool-list-parent {
    list-style: none;
}