.list-item-parent {
    list-style: none;
    width: 70%;
    margin: 0 auto;
    border: 1px solid rgba(249, 105, 14, 0.4);
    cursor: pointer;
}

.list-item {
    padding: 5px 0;
    margin: 5px auto;
}