.footer-wrapper {
    background-color: rgba(249, 105, 14, 0.3);
    padding: 10px 0;
    border: 1px solid rgba(249, 105, 14, 0.5);
    margin-top: 20px;
}

.footer-parent {
    height: fit-content;
}